#navHead {
    color: gray;
    font-size: 14px;
    position: relative; /* Set position for dropdown positioning */
    transition: color 0.3s ease;

}

#navHead:hover {
    color: black;
}

/* Style for dropdown */
.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    top: 100%; /* Position below the parent item */
    left: 0;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
    /* padding-top: 50px; */
    z-index: 50;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}
#navHead:hover .dropdown-menu {
    display: flex; /* Show the dropdown when hovering over the parent item */
}

.dropdown-menu li {
    padding: 8px 20px;
    cursor: pointer;
}


#capdrop {
    width: 900px;
}

#navslist {
   
}
#navItem {
    border-bottom: 1px solid gray;
    color: gray;
    transition: 0.5s ease;
    padding-bottom: 7px;
    padding-top: 7px;
}
#navItem:hover {
    color: black;
    border-bottom: 1px solid black;
}
#dropHead {
    padding-bottom: 15px;
    font: bold;
    
}

#indusDrop {
    width: 450px;
}
#aboutDrop {
    width: 120px;
}

