#header {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   
}
#navs {
  
   
   padding-top: 20px;
   margin-left: 60px;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover {
    color: black;
}
#navs {
    justify-items: center;
}

#inputField {
    margin-top: 10px;
    margin-left: 350px;
}

#widthcons {
    width: 1000px;
}
#headline {
    font-size: large;
    color: black;
    font-weight: 600;
    margin-bottom: 2;
}

#navslist {
    font-size: small;
    margin-bottom: 10px;
}
#navItem {
    border-bottom: 2px solid gray;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
}
#navItem:hover {
    border-bottom: 2px solid black;
}